@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #ff4d97;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #dddbff;
  background-color: #0c122c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body section {
  max-width: 80vw;
  height: auto;
  margin: auto;
  padding-top: 10%;
  padding-left: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 1439px) {
  body section {
    flex-wrap: wrap;
    max-width: 100vw;
    padding: 0 24px;
    margin: 0;
  }
}

body section .files-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  border-radius: 12px 100px 12px 12px;
  background-color: #1d2c67;
}

@media screen and (max-width: 1439px) {
  body section .files-container {
    min-width: 325px;
  }
}

body section .files-container .logo {
  background: url(../images/logo.svg) no-repeat;
  margin: 40px;
}

body section .files-container .files-items {
  display: flex;
  margin-top: 40px;
  padding-top: 40px;
}

body section .files-container .files-items span {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin-right: 10px;
  transition: 0.2s ease-out;
}

body section .files-container .files-items span:hover {
  opacity: 0.75;
}

body section .files-container .files-items .ic-document {
  background: #0c122c url(../images/icon-document.svg) no-repeat center;
  background-size: 40%;
}

body section .files-container .files-items .ic-folder {
  background: #0c122c url(../images/icon-folder.svg) no-repeat center;
  background-size: 50%;
}

body section .files-container .files-items .ic-upload {
  background: #0c122c url(../images/icon-upload.svg) no-repeat center;
  background-size: 50%;
}

body section .storage-container {
  width: 540px;
  height: auto;
  border-radius: 12px;
  background-color: #1d2c67;
  margin-left: 30px;
  padding: 40px;
  align-self: flex-end;
}

@media screen and (max-width: 1439px) {
  body section .storage-container {
    min-width: 325px;
    margin-left: 0;
    margin-top: 18px;
    padding-bottom: 54px;
  }
}

body section .storage-container .title {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 1439px) {
  body section .storage-container .title {
    font-size: 0.8rem;
    text-align: center;
  }
}

body section .storage-container .progressbar {
  width: 450px;
  height: 24px;
  margin: 18px 0 10px 0;
  border-radius: 12px;
  background-color: #0c122c;
}

@media screen and (max-width: 1439px) {
  body section .storage-container .progressbar {
    width: 100%;
  }
}

body section .storage-container .progressbar .progressbar-line {
  width: 75%;
  height: 16px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  top: 4px;
  left: 4px;
  background: linear-gradient(90deg, #ffa399, #ff4d97);
}

body section .storage-container .progressbar .progressbar-line::after {
  content: "";
  padding: 6px;
  margin: 2px;
  border-radius: 50%;
  float: right;
  z-index: 2;
  background: #dddbff;
}

body section .storage-container .start-end {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 1439px) {
  body section .storage-container .start-end {
    font-size: 0.8rem;
  }
}

body .popup {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  right: 210px;
}

@media screen and (max-width: 1439px) {
  body .popup {
    right: 0;
    top: -40px;
  }
}

body .popup .storage {
  min-width: 160px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #0c122c;
  background-color: #fff;
  border-radius: 8px 8px 0 8px;
  padding: 16px;
}

@media screen and (max-width: 1439px) {
  body .popup .storage {
    border-radius: 8px;
  }
}

body .popup .storage span {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 10px;
  color: #848794;
}

body .popup .arrow {
  position: relative;
  align-self: flex-end;
  top: -1px;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
}

@media screen and (max-width: 1439px) {
  body .popup .arrow {
    display: none;
  }
}

body .attribution {
  font-size: 0.8rem;
  font-weight: 400;
  color: #dddbff;
  padding: 60px;
  align-self: center;
}

@media screen and (max-width: 1439px) {
  body .attribution {
    padding: 0 24px 24px 24px;
    text-align: center;
    line-height: 1.25rem;
  }
}

body .attribution a {
  text-decoration: none;
  color: #ff4d97;
}

body .attribution a:hover {
  text-decoration: underline;
  color: #ffa399;
}

body::after {
  content: "";
  background: url(../images/bg-desktop.svg) no-repeat bottom/100% 50%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1439px) {
  body::after {
    background: url(../images/bg-mobile.svg) no-repeat top/100% 100%;
  }
}
