@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700");

$layout-mobile: 375px;
$layout-desktop: 1440px;

$primary-color-gradient: linear-gradient(
  90deg,
  hsl(6, 100%, 80%),
  hsl(335, 100%, 65%)
);

$neutral-color-pale-blue: hsl(243, 100%, 93%);
$neutral-color-grayish-blue: hsl(229, 7%, 55%);
$neutral-color-dark-blue: hsl(228, 56%, 26%);
$neutral-color-very-dark-blue: hsl(229, 57%, 11%);

$body-font-size: 14px;
$body-font-family: "Raleway", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: hsl(335, 100%, 65%);
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../images/bg-desktop.svg) no-repeat bottom / auto auto;
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $neutral-color-pale-blue;
  background-color: $neutral-color-very-dark-blue;
}

section {
  width: 80vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.files-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  border-radius: 12px 100px 12px 12px;
  background-color: $neutral-color-dark-blue;

  .logo {
    background: url(../images/logo.svg) no-repeat;
    margin: 40px;
  }

  .files-items {
    display: flex;
    margin-top: 40px;
    padding-top: 40px;

    span {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      margin-right: 10px;
      transition: 0.2s ease-out;
    }

    span:hover {
      opacity: 0.6;
    }

    .ic-document {
      background: $neutral-color-very-dark-blue url(../images/icon-document.svg)
        no-repeat center;
      background-size: 50%;
    }

    .ic-folder {
      background: $neutral-color-very-dark-blue url(../images/icon-folder.svg)
        no-repeat center;
      background-size: 50%;
    }

    .ic-upload {
      background: $neutral-color-very-dark-blue url(../images/icon-upload.svg)
        no-repeat center;
      background-size: 50%;
    }
  }
}

.storage-container {
  width: 540px;
  height: auto;
  border-radius: 12px;
  background-color: $neutral-color-dark-blue;
  margin-left: 30px;
  padding: 40px;

  .storage-left {
    float: right;
  }

  .progressbar {
    width: 450px;
    height: 24px;
    margin: 18px 0 10px 0;
    border-radius: 12px;
    background-color: $neutral-color-very-dark-blue;
  }

  .progressbar-line {
    width: 340px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    top: 4px;
    left: 4px;
    background: $primary-color-gradient;
  }

  .progressbar-line::after {
    content: "";
    padding: 6px;
    margin: 2px;
    border-radius: 50%;
    float: right;
    z-index: 2;
    background: $neutral-color-pale-blue;
  }

  .start-end {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: $font-weight-bold;
  }
}
